
form {
    display: flex;
    flex-direction: column;
}

textarea {
    resize: none;
    border: 0px;
    border-radius: 5px;
    padding: 5px;

}

.personal-inputs {
    display: flex;
    flex-direction: column;
    background: rgb(238, 238, 238);
    min-width: 700px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0);
    gap: 5px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

input {
    height: 30px;
    border-radius: 5px;
    border: 0px;
    padding: 5px;
}

h2 {
    font-size: 20px;
    color:rgb(54, 54, 54);
    margin-top: 20px;
}

button {
    border: 0px;
    background: #465775;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
}

button:hover {
    box-shadow: 2px 2px 2px 0 rgb(121, 120, 120);
}

button:active {
    background: white;
    color: black;
}

.control-buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.add-button {
    margin-top: 10px;
}